* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  height: 90vh;
  width: fit-content;
  overflow-x: auto;
  border: 1px solid #aaa0aa;
}

#root {
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.event {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 600px) {
  #root {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  }
}
